.navLogo {
    cursor: pointer;
    width: 70px;
    height: 70px;
}

.navLogo:hover {
    transform: scale(1.1);
}

.navLogoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    background: rgb(99, 74, 63);
    background: radial-gradient(circle, rgba(99, 74, 63, 1) 0%, rgba(0, 0, 0, 1) 100%);
    padding: 4px;
    margin: 0;
}